<md-content>

        <div layout-gt-sm="column">

          <md-content align="center">

            <md-input-container align="center">
              <label>Search by name</label>
              <input ng-model="filterRecipe" type="text" size="50%">
            </md-input-container>
            
          </md-content>
          
          <md-card layout flex="100">
          <md-card-content  layout-sm="column" flex="100">

                    <div layout="row" class="title">
                        <div flex="30" class="title-column">
                          NAME
                        </div>

                        <div flex="40" class="title-column">
                          DESCRIPTION
                        </div>

                        <div flex="30" class="image-column title-column">
                          IMAGE
                        </div>
                    </div>  

          </md-card-content>
          </md-card>                    

          <md-card layout flex="100"  ng-repeat="cli in clientes.data | filter: filterRecipe">
          <md-card-content  layout-sm="column" flex="100">


                    <div layout="row" class="row-recipe" ng-click="visibleDiv='div1'">
                        <div flex="30" class="content-row-recipe">
                          {{cli.name}}
                        </div>

                        <div flex="40" class="content-row-recipe">
                          {{cli.description}}
                        </div>

                        <div flex="30" class="content-row-recipe image-column" style="width: 70px; height: 70px; object-fit: cover">
                          <img  src="assets/img/{{cli.img}}" class="img-recipe"/> 
                       </div>
                    </div>   
 

                    <div class="content-row-recipe" layout-gt-sm="row"  ng-show="visibleDiv == 'div1'" ng-click="visibleDiv = div2">
                        <img src="assets/img/baseline_expand_less_black_18dp.png" class="hide-method">  METHOD: {{cli.method}}
                    </div>      

          </md-card-content>

          </md-card>

        </div>   

</md-content>